.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #fff0f5, #ffe4e1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px; /* Зменшено висоту */
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #d63384;
}

.brandName {
  font-size: 1.6rem;
  color: #c2185b;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 32px;
}

.navLink {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.navLink::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #198754;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navLink:hover {
  color: #2e7d32;
}

.navLink:hover::after {
  width: 100%;
}

.mainContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
  gap: 60px;
  flex-wrap: wrap;
}

.textContent {
  max-width: 600px;
}

.description {
  font-size: 1.15rem;
  margin-bottom: 28px;
  line-height: 1.7;
  color: #444;
}

.infoSection,
.scheduleSection {
  margin-bottom: 28px;
}

.infoSection h2,
.scheduleSection h2 {
  font-size: 1.4rem;
  /* color: #388e3c; */
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
  color: #555;
}

.heroImage {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLogo {
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transform: rotate(-2deg);
  transition: transform 0.3s ease;
}

.heroLogo:hover {
  transform: rotate(0deg) scale(1.02);
}
