button {
  cursor: pointer;
  background: none;
  border: none;
}
ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
table,
input {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border-color: #aaa;
  box-shadow: none;
}

input:focus {
  border-color: #ff4081;
}
